div [data-controller="partials--passwords"]
  = form.input( \
    :password, \
    wrapper: :vertical_form_password_view, \
    show_password_eye: true, \
    hint: t('registrations.edit.hints.leave_it_blank'), \
    placeholder: t('common.password'), \
    required: true, \
    autocomplete: :off, \
    input_html: { \
      data: { \
        action: 'input->partials--passwords#check', \
        'partials--passwords-target': 'password'\
      } \
    } \
  )
  = form.input( \
    :password_confirmation, \
    placeholder: t('registrations.edit.placeholders.confirm_passwod'), \
    required: true, \
    input_html: { \
      data: { \
        action: 'input->partials--passwords#check', \
        'partials--passwords-target': 'confirmation'\
      } \
    } \
  )
